/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2024, 4:37:42 PM
    Author     : Admin
*/
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-all: rgb(2, 4, 14);

}

body {
    position: relative;
}


.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #153ca8;
    border-radius: 2rem;
    color: #1e1f26;
    transition: .3s;
}

.btn:hover {
    background-color: #92601f;
}

.btn-l {
    width: 100%;
    text-align: center;
}

.main-container {
    display: grid;
}

.more-choice-genre {
    margin-bottom: 20px;
}

.form-select {
    width: 150px !important;
    color: rgb(252, 251, 253) !important;
    background-color: rgba(36, 46, 78, 0.5) !important;
}

/* main container */
.main-container {
    color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 3rem;
    margin: 150px 1rem 0px 1rem;
}

/* sidebar */
.sidebar {
    background: linear-gradient(45deg, rgba(175, 173, 209, 0.05), rgba(24, 44, 155, 0.15));
    backdrop-filter: blur(5px);
    height: fit-content;
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    min-width: 300px;
    max-width: 550px;
    width: 100%;
}

.sidebar-groups {
    margin-bottom: 1rem;
}
.sidebar-groups .search-box {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}
.sidebar-groups .search-box {
    position: relative;
    margin-bottom: 10px;
    padding: 0px;
}

.sidebar-groups .device-search {
    position: relative;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5189d8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    margin-bottom: 15px;
}
.navbar-right .nav-icon i{
    font-size: 20px;
}
.sidebar-groups .search-box:hover .search-input {
    width: 93%;
    padding-left: 10px;
    transition: 0.5s ease-in-out;

}

.sidebar-groups .search-box:hover .device-search {
    background: rgb(252, 251, 253);
    color: #405cb9;
    border: none;
}

.sidebar-groups .search-input {
    border: none;
    background: white;
    padding: 0px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s;
    line-height: 40px;
    width: 0px;
    padding-left: 0px;
    position: absolute;
    right: 17px;
    border-radius: 20px 0px 0px 20px;
    z-index: 1;
}
.reverse i{
    display:none;
}
.reverse a.active i{
    display: block !important;
}


.accordion {
    --bs-accordion-bg: rgb(235 235 235 / 0%) !important;
}
.sg-title {
    margin-bottom: .5rem;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.movie-menu .watch-button {
    position: absolute;
    bottom: 25% !important;
    left: 10%;
}
.genre-item {
    border: 0.5px solid white;
    border-radius: 25px;
    text-align: center;
    padding: 5px 8px;
    margin-right: 10px;
    white-space: nowrap;
    position: relative;
}
.genre-item.active{
    background-color: #172687 !important;
    border: 0.5px solid #172687;
}
.genre-item i{
    display: none;
    
}
.genre-item.active i{
    display:block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    font-size: large;
    right: 0;
    
}
input {
    margin-bottom: .6rem;
}

input[type=checkbox]:checked {
    accent-color: #113086;
}

input[type=radio]:checked {
    accent-color: #2f1ec9;
}

label {
    margin-left: .5rem;
}

/* movies container */
.upcoming-img-box {
    position: relative;
    gap: 2rem;
}

.upcoming-img-box img,
.right-bar-movie img,
.current-movie img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;


}

.left-bar-movie .upcoming-img-box img {
    height: 100%;
    margin-bottom: 1rem;
}

img.d-block.w-100 {
    object-fit: cover;

}

.movie-no-scroll.movie-menu {
    margin-top: 5px;
}

.movie-no-scroll.movie-menu .movie-item img {
    aspect-ratio: 18/25;
    margin: 5px 0;
}

.movie-no-scroll.movie-menu .movie-item:hover img {
    opacity: 0.35;
    transform: scale(1) !important;
    border: none !important;
    /* border-left: 5px solid rgb(47, 104, 180);
    border-bottom: 5px solid rgb(47, 104, 180); */
    box-shadow: 0px 0px 15px rgb(124, 124, 212);
    transition: all 0.7s ease-out 0.2s;
}

.movie-no-scroll.movie-menu div.movie-item:hover {
    padding: 0px 0px !important;
    transition: all 0.7s ease-out 0.2s;

}

.movie-no-scroll.movie-menu .movie-item:hover .title {
    opacity: 0.5;


}

.current-movie {
    background: linear-gradient(45deg, rgba(6, 8, 27, 0.05), rgba(58, 66, 168, 0.15));
    padding: 1rem;
    border-radius: .5rem;
    width: 250px;
}

.cm-img-box {
    position: relative;
    height: 150px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.movie-title {
    color: #fff;
    margin-bottom: .2rem;
}
.reverse a.hide{
    display: none;
}
.reverse a.active{
    display: block;
}
    .movie-item .iq-card{
        width: 200px !important;
    }

@media only screen and (max-width: 992px) {
    .top-movie .right-bar-movie{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .top-movie .right-bar-movie div.current-movies.row:first-child{
        margin-right: 0 !important;
    }
    .top-movie .right-bar-movie div.current-movies.row:last-child {
        margin-left: 0 !important;
    }
    .movie-item .iq-card{
        width: 190px !important;
    }
}
@media (max-width:767px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
    }
    .movie-item .iq-card{
        width: 180px !important;
    }
}

@media (max-width:424px) {
    .movie-item .iq-card{
        width: 170px;
    }


}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a40;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent !important;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #ffffff !important;
    --bs-pagination-bg: rgba(0, 0, 0, 0.2) !important;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #626365 !important;
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: #154ea0 !important;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff !important;
    --bs-pagination-active-bg: #0a296d;
    --bs-pagination-active-border-color: #ffffff;
}