/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2024, 11:06:46 AM
    Author     : Admin
*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url('../assets/img/Designer.png');
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

div.logo {
    margin-top:-5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 40%;
    border-radius: 25px;
}

.form.login,
.form.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}



header {
    font-size: 28px;
    font-weight: 600;
    color: #0c339c;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#133bbe;

}

.field input:focus {
    border-bottom-width: 2px;
}

.form.signup .name {
    display: flex;
    justify-content: space-between;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #1a1f68;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #5351ce;
    font-size: large;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #082f9c;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #3735cc;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #333eb1;
}

a.facebook .fa-facebook-f {
    height: 28px;
    width: 28px;
    color: #333eb1;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.fa-facebook-f,
.fa-google {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.fa-google {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #4b48cf;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #333eb1;
}
.error-login{
    margin: 20px auto 0 auto;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}