/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 26, 2024, 11:01:06 PM
    Author     : Admin
*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container-fluid.movie  .movie-video{
    margin-top: 100px;
    text-align: center;
}
.container-fluid.movie iframe{
    width: 80%;
    height: 45vw;
    object-fit: cover;
}
.container-fluid.movie .movie-video img{
    width: 350px;
    max-height: 120vh;

}
.movie-details{
    margin-left: 10%;
    margin: 10px 10% 0 10%;
    color: white;
    display: grid;
    grid-template-columns: 8fr 5fr;
}
.movie-details>div{
    margin: 0 10% 0 0;

}
.movie-details .more-infor{
    font-size: 0.9rem;
}
.actions .icons{
    margin-right: 50px;
    font-weight: bold;
}

.actions .icons i.select {
    display: none;
}
.actions .icons i{
    margin-right: 5px;
    color: rgba(255, 255, 255);
    font-size: 25px;
}
.actions{
    margin-top: 10px;
    margin-bottom: 20px;
}
div.movie-eps.slide-movie.container-fluid{
    padding-left: 30px !important;
}
.movie-menu .movie-infor .play-button {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 30px;
    margin: 0px;

}
.movie-menu .movie-infor  {
    transition: none;
    background: rgba(101, 137, 214, 0);
}
.movie-eps .movie-menu .movie-item:hover img {
    opacity: 0.5;
    transform: scale(1.1) !important;
    border: none !important;
    margin-bottom:5px;
    
    /* border-left: 5px solid rgb(47, 104, 180);
    border-bottom: 5px solid rgb(47, 104, 180); */
    box-shadow: 0px 0px 15px rgb(124, 124, 212);
    
}
.movie-eps .movie-menu .movie-item.active img {
    opacity: 0.5;
    transform: scale(1.05) !important;
    border: none !important;
    margin-bottom:5px;
    
    /* border-left: 5px solid rgb(47, 104, 180);
    border-bottom: 5px solid rgb(47, 104, 180); */
    box-shadow: 0px 0px 15px rgb(124, 124, 212);
    
}
.movie-menu.movie-eps-menu .slider img {
    aspect-ratio: 16/9;
}
.movie-menu.movie-eps-menu .slider .movie-item .iq-card {
    width:320px;
}
.movie-eps .movie-menu div.movie-item:hover {
   
    

}
.movie-eps .movie-menu .movie-infor {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    right: auto;
    visibility: hidden;
    font-size: 1rem;
    transition: none;
}
.movie-menu .movie-item:hover .movie-infor {
    visibility: visible;
    transition: none;
}
.movie-eps .movie-menu .movie-item:hover .title {
    opacity: 1;
    transition: none;
}
/* phan cho comment
*/
.comment-card{

    background-color: transparent;
    border: none;
    color:white;
    margin-left:30px !important;
}

.input-comment img{
    margin-right: 20px;
}
.form-control{

    height: 48px;
    border-radius: 25px;
}
.commented img{
    margin-right: 20px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
}

.c-badge{
    background-color: transparent;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.comment-text{
    font-size: 16px;
    color: #cccccc;
    margin-top: 5px;
}

.wish{
    color:#35b69f;
}
.movie-poster{
    position: relative;
    display: block;
}
.vip-ep {
    position: absolute;
    top:20px;
    right:2px;
    font-family: "Catamaran", sans-serif;
    background-color: #8592e7;
    padding: 2px 5px;
    font-weight: bold;
    
}
.message-for-vip-ep{
    color: #999999;
    font-size: 30px;
    margin: 150px;
    padding: 20px;
    
}

.user-feed{

    font-size: 14px;
    margin-top: 12px;
}
@media(max-width: 1024px) {
    .movie-menu.movie-eps-menu .slider .movie-item .iq-card {
        width:300px;
    }
}
@media(max-width: 768px) {
    .movie {

    }
    .container-fluid.movie iframe{
    width: 100%;
    height: 55vw;
    object-fit: cover;
}

    .movie-details {

        margin: 5px;
        color: white;
        display: grid;
        grid-template-columns: 8fr 5fr;
    }
    .movie-menu.movie-eps-menu .slider .movie-item .iq-card {
        width:260px;
    }
}
@media(max-width: 574px) {
    .movie-details {

        margin: 5px;
        color: white;
        display: flex;
        flex-wrap: wrap;
    }
    .actions .icons i {
        margin-right: 2px;

        font-size: 17px;
    }
    .movie-menu.movie-eps-menu .slider .movie-item .iq-card {
        width:250px;
    }
}