/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2024, 2:17:43 PM
    Author     : Admin
*/
body{
    overflow-x: hidden;
    color:white;
}
.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile{
    min-height: 50vh;
}
.profile-img {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.profile-img img {
    width: 80%;
    max-width: 250px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
 
}

.profile-img .file {
    position: absolute;
    overflow: hidden;
    width: 80%;
        max-width: 250px;
    border: none;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 5px;
    font-size: 15px;
    background: #000000b8;
    color:white;
    opacity: 0.5;
    cursor: pointer;
}
.profile-img .file:hover {
opacity: 1;
    border-radius: 5px;
    font-size: 16px;
    background: #654ea5b8;
    color: white;
    
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #fcfcfc;
}

.profile-head h6 {
    color: #0062cc;
}
.profile-details{
    text-align: start;
}


.profile-head .nav-tabs {
    margin-bottom: 50px;
    width: 80%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
    color:aliceblue;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #3e25c7;
    background-color: #f3f3f3;
    
}
.row-profile{
    margin-bottom: 20px;
    margin-left: 20px !important;
}
.profile-tab label {
    font-weight: 600;
    font-size: large;
    color:#efeef3;
}

.profile-tab p {
    font-weight: 600;
    color: #c8cae4;
}
.edit-profile{
    display:none;
}
.edit-profile .row-profile .col-4{
    align-self: center;
}
.edit-profile input{
    padding: 5px 7px;
    background: #ffffff2b;
    color:white;
}


/* Danh sach theo doi */

.movie-menu .title {
    color:white;
}
.movie-item{
    margin-top:7px;
}
.movie-item img{
    aspect-ratio: 18/25;
}

@media(max-width: 768px) {
    .profile-details {
            padding-left: 2rem !important;
        }
}

/*  */
.edit-profile input{
    border-radius: 6px;
}

